@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(30, 38%, 92%);
}
.jumbotron{
    height: 100%;
}
img{
    max-width: 100%;
    margin: 0%;
    padding: 0%;
}
.container{
    border-radius: 20px;
    justify-content: center;
    align-content: center;
    background-color: hsl(0, 0%, 100%);
    overflow:hidden;
    padding: 0%;
    width: 100vh;

}
p{
    opacity: 50%;
}
h4{
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces';
    font-size: 3.5vh;
    display: inline;
}
.btn{
    background-color: hsl(158, 36%, 37%);
    color: white;
    width: 80%;
    height: 5vh;
    margin-top: 5%;
}

.btn:hover{
    background-color: hsl(212, 21%, 14%);
}

h1{
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 700;
  width: 60%;
}
.description{
    width: 60%;
}

#oldPrice{
    display: inline;
}